{#
/**
 * @file
 * The for privacy information.
 *
 * Available variables:
 * - attributes: hbm_privacy
 *
 * @ingroup themeable
 * @ingroup hbm_privacy
 */
#}


<div class="hbm-privacy">
  <div class="hbm-privacy-inner">
    {{ hbm_privacy|raw }}
  </div>
</div>